.workExp{
    background: rgb(0,224,247);
    background: linear-gradient(180deg, rgba(0,224,247,1) 12%, rgba(0, 190, 211,1) 55%);
    /* height:100vh;
    width:100vw; */
    padding: 0 12% 0 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading{
    font-size: 2.9rem;
    letter-spacing: .1rem;
    margin-top: 0;
    margin-bottom: 30px;
    color: #150E56;
    width: 40%;
    border-bottom: 1px solid #4c5d6986;
}
.experience{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10%;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.wotline__logo{
    width: 20vw;
    height: 20vw;
    margin-left: 30px;
}
.gateway__logo{
    width: 30vw;
    height:30vw;
    margin-right: 30px;
}
.sub-heading{
    align-self: start;
    margin-bottom: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 64px;
    color: #150E56;
    letter-spacing: -0.015em;
}
.workExp-dec{
    /* font-family: Be Vietnam; */
    font-style: normal;
    font-size: 21px;
    line-height: 31px;
    align-items: center;

    color: #150E56;
}