.about{
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* position: relative; */
}
.wrapper{
    position: absolute;
    left: 0;
    right: 0;
    /* top:0; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.about__text__div{
    text-align: justify;
    top: 20%;
    left: 12%;
    position: absolute;
    /* z-index: 30; */
    animation: textAnimation 8s linear infinite;
    width: 550px;

}
@keyframes textAnimation {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
.about__text__div h1{
    font-size: 3rem;
    letter-spacing: .1rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #150E56;
    border-bottom: 1px solid #4c5d6959;
}
.about__text__div p{
    font-size: 1.3rem;
    margin-top: 50px;
    margin-bottom: 30px;
    /* margin-bottom: 0; */
    font-weight: 400;
    color: #150E56;
}
.about__text__div a{
    background-color: #150E56;
    margin-top: 70px;
    padding: 10px 15px;
    border-radius: 50px;
    color: #F6F6F6;
}

.about_Sub_div{
    position: absolute;
    right: 0;
    top: 40%;
    cursor: pointer;
}
.about_Sub_div_start{
    animation: submarineMovingAnimation 6s linear forwards;
    animation-iteration-count: 1; 
}
@keyframes submarineMovingAnimation {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100vw);
    }
}

.wrapper .dot_div{
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    position: absolute;
    top:20%;
    left:20%;
    backdrop-filter: blur(5px);
    animation: animate 4s linear infinite;
}
.wrapper .dot{
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top:20%;
    right: 20%;
}
.wrapper .dot_div:nth-child(1){
    top:40%;
    left:20%;
    animation: animate 10s linear infinite;
}
.wrapper .dot_div:nth-child(2){
    top:40%;
    left:60%;
    animation: animate 7s linear infinite;
}
.wrapper .dot_div:nth-child(3){
    top:30%;
    left:70%;
    animation: animate 5s linear infinite;
}
.wrapper .dot_div:nth-child(4){
    top:60%;
    left:10%;
    animation: animate 13s linear infinite;
}
.wrapper .dot_div:nth-child(5){
    top:65%;
    left:80%;
    animation: animate 10s linear infinite;
}
.wrapper .dot_div:nth-child(6){
    top:90%;
    left:50%;
    animation: animate 8s linear infinite;
}
.wrapper .dot_div:nth-child(7){
    top:60%;
    left:50%;
    animation: animate 15s linear infinite;
}
.wrapper .dot_div:nth-child(8){
    top:90%;
    left:80%;
    animation: animate 8s linear infinite;
}
.wrapper .dot_div:nth-child(9){
    top:70%;
    left:30%;
    animation: animate 12s linear infinite;
}
.wrapper .dot_div:nth-child(10){
    top:40%;
    left:90%;
    animation: animate 9s linear infinite;
}
.wrapper .dot_div:nth-child(11){
    top:50%;
    left:90%;
    animation: animate 7s linear infinite;
}
.wrapper .dot_div:nth-child(12){
    top:80%;
    left:20%;
    animation: animate 12s linear infinite;
}
.wrapper .dot_div:nth-child(13){
    top:95%;
    left:10%;
    animation: animate 20s linear infinite;
}
.wrapper .dot_div:nth-child(14){
    top:95%;
    left:70%;
    animation: animate 5s linear infinite;
}
.wrapper .dot_div:nth-child(15){
    top:85%;
    left:40%;
    animation: animate 16s linear infinite;
}
@keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(70deg);
    }
    100%{
        transform: scale(1.5) translateY(-100px) rotate(360deg);
    }
}

@media (max-width:1000px){
    .about_Sub_div{
        position: absolute;
        right: -50px;
        top: 40%;
        cursor: pointer;
    }
}

@media (max-width:950px){
    .about_Sub_div{
        position: absolute;
        right: 31px;
        top: 74%;
        cursor: pointer;
    }
    .wrapper .dot_div:nth-child(1){
        display: none;
    }
    .wrapper .dot_div:nth-child(2){
        display: none;
    }
    .wrapper .dot_div:nth-child(3){
        display: none;
    }
    /* .wrapper .dot_div:nth-child(4){
        display: none;
    } */
    /* .wrapper .dot_div:nth-child(5){
        display: none;
    } */
    .wrapper .dot_div:nth-child(6){
        display: none;
    }
    .wrapper .dot_div:nth-child(7){
        display: none;
    }
    
    .wrapper .dot_div:nth-child(10){
        display: none;
    }
   
   
}
@media (max-width: 500px) {

    .about_Sub_div {
        position: absolute;
        right: -300px;
        top: 13%;
        cursor: pointer;
    }

    .about__text__div {
        top: 20%;
        left: 12%;
        position: absolute;
        /* z-index: 30; */
        animation: textAnimation 8s linear infinite;
        width: 80vw;
        text-align: justify;
    }
    .about__text__div h1 {
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        margin-top: 0;
        margin-bottom: 0;
        color: #150E56;
        border-bottom: 1px solid #4c5d6959;
    }
    .about__text__div p {
        font-size: 1rem;
        margin-top: 28px;
        margin-bottom: 30px;
        /* margin-bottom: 0; */
        font-weight: 400;
        color: #150E56;
    }
    .wrapper .dot_div:nth-child(1){
        display: none;
    }
    .wrapper .dot_div:nth-child(2){
        display: none;
    }
    /* .wrapper .dot_div:nth-child(3){
        display: none;
    } */
    .wrapper .dot_div:nth-child(4){
        display: none;
    }
    .wrapper .dot_div:nth-child(5){
        display: none;
    }
    .wrapper .dot_div:nth-child(6){
        display: none;
    }
    .wrapper .dot_div:nth-child(7){
        display: none;
    }
    
    .wrapper .dot_div:nth-child(10){
        display: none;
    }
    .wrapper .dot_div:nth-child(11){
        display: none;
    }
}